# Don't touch Yarn dependencies
/node_modules/
/pnpm-lock.yaml

# Don't touch build output
/public/
/resources/_gen/

# Don't touch gohtml templates
/layouts/

# Don't touch IDE configuraiton
/.idea/
