<!DOCTYPE html>
<html class="no-js" lang="en-au">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ .Title }}</title>
        <meta name="description" content="{{ .Description }}" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="/app.css" rel="stylesheet" />
        <link
            href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
            rel="stylesheet"
        />
        <script>
            document.getElementsByTagName("html")[0].classList.remove("no-js");
        </script>
    </head>
    <body>
        <main>{{ block "content" . }}{{ end }}</main>
    </body>
</html>
