<!DOCTYPE html>
<html lang="en-au">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Description }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    {{ with resources.Get "app.scss" | toCSS | minify }}
        <style>
            {{ .Content | safeCSS }}
        </style>
    {{ end }}
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
        rel="stylesheet"
    />
    <link rel="sitemap" type="application/xml" href="{{- "sitemap.xml"
    |absURL -}}"/>
    {{ with .Site.Home.OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%q" type="%q" href="%q" title="%q" />` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
    {{ end }}
</head>
<body>
<main>{{ block "content" . }}{{ end }}</main>
</body>
</html>
