{{- define "content" -}}
    <article>
        <nav class="breadcrumbs">
            <a href="/">Home</a>
            <span>//</span>
            <span>Posts</span>
        </nav>

        <h1>{{ .Title }}</h1>

        <div class="metadata">
            <div class="date">{{ .Params.date | time.Format ":date_long" }}</div>
            {{- partial "list-topics.html" . -}}
        </div>

        <section class="abstract">
            <p>{{ .Description }}</p>
        </section>

        <section class="toc">
            {{ .TableOfContents }}
        </section>

        <section>{{- .Content -}}</section>
    </article>
{{- end -}}
