$background-dark: #1f1e1d;
$background-light: #fff;
$foreground-dark: #fff;
$foreground-light: #1f1e1d;
$primary-dark-alt: #b69380;
$primary-dark: #947767;
$primary-light-alt: #775641;
$primary-light: #694f3f;

$code-dark: $background-dark;
$code-dark-foreground: $background-light;
$code-light: $background-light;
$code-light-border: $primary-dark;
$code-dark-border: $primary-light;
$code-light-foreground: $foreground-light;
