@import "colours";

%code-line-numbers {
    color: $light-foreground;
    @media (prefers-color-scheme: dark) {
        color: $dark-foreground;
    }
}

%code-gray {
    color: $light-foreground;
    @media (prefers-color-scheme: dark) {
        color: $dark-foreground;
    }
}

%code-brown {
    color: $light-foreground-brown;
    @media (prefers-color-scheme: dark) {
        color: $dark-foreground-brown;
    }
}

%code-red {
    color: $light-foreground-red;
    @media (prefers-color-scheme: dark) {
        color: $dark-foreground-red;
    }
}

%code-green {
    color: $light-foreground-green;
    @media (prefers-color-scheme: dark) {
        color: $dark-foreground-green;
    }
}

%code-blue {
    color: $light-foreground-blue;
    @media (prefers-color-scheme: dark) {
        color: $dark-foreground-blue;
    }
}

%code-yellow {
    color: $light-foreground-yellow;
    @media (prefers-color-scheme: dark) {
        color: $dark-foreground-yellow;
    }
}

%code-pink {
    color: $light-foreground-pink;
    @media (prefers-color-scheme: dark) {
        color: $dark-foreground-pink;
    }
}

%code-purple {
    color: $light-foreground-purple;
    @media (prefers-color-scheme: dark) {
        color: $dark-foreground-purple;
    }
}

/* Background */
.bg {
    color: $light-foreground;
    background-color: $light-background;

    @media (prefers-color-scheme: dark) {
        color: $dark-foreground;
        background-color: $dark-background;
    }
}

/* PreWrapper */
.chroma {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    font-family: monospace;
    color: $light-foreground;
    background-color: $light-background;
    margin-left: -2rem;
    margin-right: -2rem;
    overflow-x: scroll;
    border: 1px solid $light-foreground;
    border-left: 10px solid $light-foreground;

    @media (prefers-color-scheme: dark) {
        color: $dark-foreground;
        background-color: $dark-background;
        border-color: $dark-foreground;
    }
}

/* Other */
.chroma .x {
}

/* Error */
.chroma .err {
    @extend %code-red;
}

/* CodeLine */
.chroma .cl {
}

/* LineLink */
.chroma .lnlinks {
    outline: none;
    text-decoration: none;
    color: inherit;
}

/* LineTableTD */
.chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
}

/* LineTable */
.chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

/* LineHighlight */
.chroma .hl {
    @extend %code-gray;
}

/* LineNumbersTable */
.chroma .lnt {
    @extend %code-line-numbers;
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
}

/* LineNumbers */
.chroma .ln {
    @extend %code-line-numbers;
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
}

/* Line */
.chroma .line {
    display: flex;
}

/* Keyword */
.chroma .k {
    @extend %code-blue;
}

/* KeywordConstant */
.chroma .kc {
    @extend %code-blue;
}

/* KeywordDeclaration */
.chroma .kd {
    @extend %code-blue;
}

/* KeywordNamespace */
.chroma .kn {
    @extend %code-pink;
}

/* KeywordPseudo */
.chroma .kp {
    @extend %code-blue;
}

/* KeywordReserved */
.chroma .kr {
    @extend %code-blue;
}

/* KeywordType */
.chroma .kt {
    @extend %code-blue;
}

/* Name */
.chroma .n {
}

/* NameAttribute */
.chroma .na {
    @extend %code-green;
}

/* NameBuiltin */
.chroma .nb {
}

/* NameBuiltinPseudo */
.chroma .bp {
}

/* NameClass */
.chroma .nc {
    @extend %code-green;
}

/* NameConstant */
.chroma .no {
    @extend %code-blue;
}

/* NameDecorator */
.chroma .nd {
    @extend %code-green;
}

/* NameEntity */
.chroma .ni {
}

/* NameException */
.chroma .ne {
    @extend %code-green;
}

/* NameFunction */
.chroma .nf {
    @extend %code-green;
}

/* NameFunctionMagic */
.chroma .fm {
}

/* NameLabel */
.chroma .nl {
}

/* NameNamespace */
.chroma .nn {
}

/* NameOther */
.chroma .nx {
    @extend %code-green;
}

/* NameProperty */
.chroma .py {
}

/* NameTag */
.chroma .nt {
    @extend %code-pink;
}

/* NameVariable */
.chroma .nv {
}

/* NameVariableClass */
.chroma .vc {
}

/* NameVariableGlobal */
.chroma .vg {
}

/* NameVariableInstance */
.chroma .vi {
}

/* NameVariableMagic */
.chroma .vm {
}

/* Literal */
.chroma .l {
    @extend %code-purple;
}

/* LiteralDate */
.chroma .ld {
    @extend %code-yellow;
}

/* LiteralString */
.chroma .s {
    @extend %code-yellow;
}

/* LiteralStringAffix */
.chroma .sa {
    @extend %code-yellow;
}

/* LiteralStringBacktick */
.chroma .sb {
    @extend %code-yellow;
}

/* LiteralStringChar */
.chroma .sc {
    @extend %code-yellow;
}

/* LiteralStringDelimiter */
.chroma .dl {
    @extend %code-yellow;
}

/* LiteralStringDoc */
.chroma .sd {
    @extend %code-yellow;
}

/* LiteralStringDouble */
.chroma .s2 {
    @extend %code-yellow;
}

/* LiteralStringEscape */
.chroma .se {
    @extend %code-purple;
}

/* LiteralStringHeredoc */
.chroma .sh {
    @extend %code-yellow;
}

/* LiteralStringInterpol */
.chroma .si {
    @extend %code-yellow;
}

/* LiteralStringOther */
.chroma .sx {
    @extend %code-yellow;
}

/* LiteralStringRegex */
.chroma .sr {
    @extend %code-yellow;
}

/* LiteralStringSingle */
.chroma .s1 {
    @extend %code-yellow;
}

/* LiteralStringSymbol */
.chroma .ss {
    @extend %code-yellow;
}

/* LiteralNumber */
.chroma .m {
    @extend %code-purple;
}

/* LiteralNumberBin */
.chroma .mb {
    @extend %code-purple;
}

/* LiteralNumberFloat */
.chroma .mf {
    @extend %code-purple;
}

/* LiteralNumberHex */
.chroma .mh {
    @extend %code-purple;
}

/* LiteralNumberInteger */
.chroma .mi {
    @extend %code-purple;
}

/* LiteralNumberIntegerLong */
.chroma .il {
    @extend %code-purple;
}

/* LiteralNumberOct */
.chroma .mo {
    @extend %code-purple;
}

/* Operator */
.chroma .o {
    @extend %code-pink;
}

/* OperatorWord */
.chroma .ow {
    @extend %code-pink;
}

/* Punctuation */
.chroma .p {
}

/* Comment */
.chroma .c {
    @extend %code-brown;
}

/* CommentHashbang */
.chroma .ch {
    @extend %code-brown;
}

/* CommentMultiline */
.chroma .cm {
    @extend %code-brown;
}

/* CommentSingle */
.chroma .c1 {
    @extend %code-brown;
}

/* CommentSpecial */
.chroma .cs {
    @extend %code-brown;
}

/* CommentPreproc */
.chroma .cp {
    @extend %code-brown;
}

/* CommentPreprocFile */
.chroma .cpf {
    @extend %code-brown;
}

/* Generic */
.chroma .g {
}

/* GenericDeleted */
.chroma .gd {
    @extend %code-pink;
}

/* GenericEmph */
.chroma .ge {
    font-style: italic;
}

/* GenericError */
.chroma .gr {
}

/* GenericHeading */
.chroma .gh {
}

/* GenericInserted */
.chroma .gi {
    @extend %code-green;
}

/* GenericOutput */
.chroma .go {
}

/* GenericPrompt */
.chroma .gp {
}

/* GenericStrong */
.chroma .gs {
    font-weight: bold;
}

/* GenericSubheading */
.chroma .gu {
    @extend %code-brown;
}

/* GenericTraceback */
.chroma .gt {
}

/* GenericUnderline */
.chroma .gl {
}

/* TextWhitespace */
.chroma .w {
}
