.abstract {
    border-top: 1px solid var(--primary-light-alt);
    border-bottom: 1px solid var(--primary-light-alt);
    padding: 2rem;
    margin-left: -2rem;
    margin-right: -2rem;
}

@media (prefers-color-scheme: dark) {
    .abstract {
        border-top-color: var(--primary-dark-alt);
        border-bottom-color: var(--primary-dark-alt);
    }
}
